reader:
  bind: "0.0.0.0"
  port: 8080
  rollups:
    - 60s:5356800s
    - 900s:62208000s
store:
  cluster:
    - "cassandra-1"
    - "cassandra-2"
  port: 9042
  userName: 'username'
  userPassword: 'password'
  keyspace: 'metric'
  columnFamily: 'metric'
  maxConnections: 2048
  readTimeout: 10
  connectTimeout: 10
  maxRequests: 128
  loadBalancingPolicyName: 'TokenDcAwareRoundRobinPolicy'
  protocolVersion: "V2"
  tenantKeyspace: "metric"
  cacheExpiration: 180
  tenantTableTemplate: "metric_%s_%d"
index:
  cluster:
    - "es-1"
    - "es-1"
  port: 9300
  index: "disthene_paths"
  type: "path"
  scroll: 50000
  timeout: 120000
  maxPaths: 50000
stats:
  interval: 60
  tenant: "graphite"
  hostname: "disthene-1a"
  carbonHost: "carbon.example.net"
  carbonPort: 2003
